*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.carousel-item{
    width: 100%;
    height: 95vh;
    
}
.imgc{
    size: 76px;
}
.imgn {
    width: 420px;
    height: 430px;
    background-repeat: no-repeat;
}
.row div{
    padding: 0px;
}
.bg-b {
    background-color: rgb(160 164 162);
    opacity: 1;
    margin-bottom: 0px;
}

